/* line 2, style.scss */
.wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 100%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  background-color: #c8f1fe;
}
/* line 8, style.scss */
.wrap .cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
/* line 12, style.scss */
.wrap .horaire {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: -webkit-calc(30%);
  width: calc(30%);
}
/* line 16, style.scss */
.wrap .horaire .heure {
  font-size: 125%;
  color: #fdd763;
  text-align: center;
  width: 100% !important;
}
/* line 23, style.scss */
.wrap .horaire .heure span, .wrap .horaire .heure li {
  color: green;
}
/* line 28, style.scss */
.wrap .horaire .categorie {
  width: -webkit-calc(100%);
  width: calc(100%);
  text-align: center;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}
/* line 36, style.scss */
.wrap .club {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}
/* line 39, style.scss */
.wrap .club .equipe {
  width: -webkit-calc(75%);
  width: calc(75%);
  color: black;
}
/* line 43, style.scss */
.wrap .club .vestiaire {
  width: -webkit-calc(25%);
  width: calc(25%);
}

/* line 49, style.scss */
.flex-wrapping {
  width: -webkit-calc(100%);
  width: calc(100%);
  max-width: 100%;
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
/* line 56, style.scss */
.flex-wrapping .evenement {
  margin: 2.5% auto;
}
/* line 60, style.scss */
.flex-wrapping .flex-heading {
  width: 100%;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
/* line 64, style.scss */
.flex-wrapping .flex-heading .cell {
  height: -webkit-calc(4rem);
  height: calc(4rem);
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
/* line 70, style.scss */
.flex-wrapping .flex-body {
  width: 100%;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  font-size: 150%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 75, style.scss */
.flex-wrapping .flex-body .equipe figure {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 79, style.scss */
.flex-wrapping .flex-body .equipe figure img {
  max-width: 100px;
  max-height: 100px;
}
/* line 83, style.scss */
.flex-wrapping .flex-body .equipe figure figcaption {
  width: 100%;
  height: 50%;
}
/* line 87, style.scss */
.flex-wrapping .flex-body .equipe figure .vestiaire {
  -webkit-align-content: flex-end;
  -ms-flex-line-pack: end;
  align-content: flex-end;
  color: black;
}

/* line 95, style.scss */
.fexbox .box {
  color: indianred;
}

/* line 99, style.scss */
.flexbox .box {
  color: green;
}

/* line 103, style.scss */
.page-header h2 {
  font-family: sans-serif;
  padding: 0.4em 1em 0.5em;
  cursor: pointer;
  text-align: center !important;
  background-color: #f8edde;
}
