@import "bourbon";
@import "neat";
@import "variable/variables";
@import "mixins/mixin";
@import "layout/wrap";
body {
  padding-bottom: 70px;
}

.page-header {
  h2 {
    font-family: sans-serif;
    padding: 0.4em 1em 0.5em;
    cursor: pointer;
    color: $visit;
    text-align: center !important;
  }
}

.flex-wrapping {
  width: calc(100%);
  max-width: 100%;
  .evenement {
    margin: 2.5% auto;
    background-color: $color_citron_approx;
  }
  .flex-heading {
    width: 100%;
    text-transform: capitalize;
    flex-flow: row wrap;
    background-color: $color_bittersweet_approx;
    .cell {
      height: calc(4rem);
      align-items: center;
      justify-content: space-around;
      font-size: 2em;
    }
  }
  .flex-body {
    width: 100%;
    flex-flow: row wrap;
    font-size: 150%;
    align-items: stretch;
    font-family: $oswald;
    .heure{
      flex-flow: column wrap;
      @include align-content(flex-start);
    }
   
   
    .equipe {
      figure {
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
          max-width: 120px;
          max-height: 120px;
        }
        figcaption {
          width: 100%;
          height: 50%;
        }
        .vestiaire {
          align-content: flex-end;
          color: black;
        }
      }
    }
  }
}

.fexbox .box {
  color: $red;
}

.flexbox .box {
  color: $color_japanese_laurel;
}