@import "variable/variables";
@import "mixins/mixin";
@import "bourbon";
@import "neat";
body {
  padding-bottom: 70px;
}

.page-header {
  h2 {
    font-family: sans-serif;
    padding: 0.4em 1em 0.5em;
    cursor: pointer;
    color: $visit;
    text-align: center !important;
  }
}

.wrap {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 100%;
  font-size: 100%;
  background-color: lighten($color_charlotte, 25%);
  .cell {
    width: 100%;
    flex-flow: row wrap;
    justify-content:space-around;
  }
  .horaire {
    width: calc(30%);
    .heure {
      font-size: 125%;
      color: goldenrod;
      text-align: center;
      width: 100% !important;
      //      flex-flow: column wrap;
      span,
      li {
        color: $japanese_laurel;
      }
    }
    .categorie {
      width: calc(100%);
      text-align: center;
    }
  }
  .club {
    width: calc(70%);
    .equipe {
      width: calc(75%);
      color: black;
    }
    .vestiaire {
      width: calc(25%);
      color: powderblue;
    }
  }
}

.flex-wrapping {
  width: calc(100%);
  max-width: 100%;
  background-color: lighten(grey, 20%);
  text-transform: capitalize;
  //  justify-content: space-between;
  // 
  //  align-items: flex-end;
  .evenement {
    //    margin: 2.5% auto;
    //    background-color: darken(yellow, 20%);
  }
  .flex-heading {
    font-family: $oswald;
    width: 100% !important;
    flex-flow: row wrap;
    background-color: lighten(red, 20%);
    .cell {
      width: 100%;
      height: calc(4rem);
      align-items: stretch;
      color: $hover;
      background-color: $color_goldenrod;
    }
  }
  .flex-body {
    font-family: $roboto;
    //    width: 100%;
    font-size: 150%;
    .club {
      @include bordered(5px);
      background-color: mediumvioletred;
      h3 {
        @extend .flexbox;
        //        width: 100%;
      }
      figure {
        //        @include align-items(stretch);
        //        @include flex-flow(column wrap);
        figcaption,
        img {}
        figcaption {
          text-align: right;
          color: $tradewind;
        }
        //    
        img {
          max-width: 120px;
          max-height: 120px;
        }
      }
    }
  }
}