/* line 1, testdesign.scss */
.no-flexbox .box {
  color: red;
}

/* line 4, testdesign.scss */
.flexbox .box {
  color: green;
}

/* line 8, testdesign.scss */
.page-header h2 {
  font-family: sans-serif;
  padding: 0.4em 1em 0.5em;
  cursor: pointer;
  text-align: center !important;
  background-color: #6666ff;
}

/* line 16, testdesign.scss */
.wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  font-size: 100%;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
/* line 21, testdesign.scss */
.wrap .cell {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}
/* line 25, testdesign.scss */
.wrap .horaire {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-color: #afeafe;
  width: -webkit-calc(30%);
  width: calc(30%);
}
/* line 30, testdesign.scss */
.wrap .horaire .heure,
.wrap .horaire .categorie {
  font-size: 125%;
  color: #fdd763;
}
/* line 36, testdesign.scss */
.wrap .horaire .heure {
  text-align: center;
  width: 100% !important;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}
/* line 40, testdesign.scss */
.wrap .horaire .heure span,
.wrap .horaire .heure li {
  color: green;
}
/* line 45, testdesign.scss */
.wrap .horaire .categorie {
  width: -webkit-calc(100%);
  width: calc(100%);
}
/* line 49, testdesign.scss */
.wrap .club {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
}
/* line 56, testdesign.scss */
.wrap .club .equipe {
  width: -webkit-calc(75%);
  width: calc(75%);
  color: white;
  background-color: #55b6ab;
}
/* line 61, testdesign.scss */
.wrap .club .vestiaire {
  width: -webkit-calc(25%);
  width: calc(25%);
  background-color: #f0109b;
  color: aqua;
}

/* line 68, testdesign.scss */
.flex-wrapping {
  width: -webkit-calc(100%);
  width: calc(100%);
  max-width: 100%;
  margin: 0;
  padding: 0;
  background-color: #b3b3b3;
  text-transform: capitalize;
}
/* line 75, testdesign.scss */
.flex-wrapping .evenement {
  margin: 2.5% auto;
  background-color: #999900;
}
/* line 79, testdesign.scss */
.flex-wrapping .flex-heading {
  width: 100%;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  background-color: #ff6666;
}
/* line 83, testdesign.scss */
.flex-wrapping .flex-heading .cell {
  height: -webkit-calc(4rem);
  height: calc(4rem);
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}
/* line 88, testdesign.scss */
.flex-wrapping .flex-body {
  width: 100%;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  font-size: 150%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 94, testdesign.scss */
.flex-wrapping .flex-body .equipe figure {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
/* line 98, testdesign.scss */
.flex-wrapping .flex-body .equipe figure img {
  max-width: 100px;
  max-height: 100px;
}
/* line 103, testdesign.scss */
.flex-wrapping .flex-body .equipe figure figcaption {
  width: 100%;
  height: 50%;
  background-color: #f0d510;
}
