@mixin bordered($width) {
    border: $width solid $link;

    &:hover {
        border-color: $limegreen;
    }
}
.flexbox{
  width:100%;
  color:$color_bittersweet_approx;
  justify-content: space-around;
  flex-wrap: row wrap;
  background-color: $color_citron_approx;
  text-transform: uppercase;
//  height: 2em;
}