@import "font";
$color_celeste_approx: #ccc;
$gold: gold;
$limegreen: #7be8bb;
$link: #15c7b0;
$visit: #5715c7;
$hover: #fd5010;
$active:#15c757;
$red: #f00;
$japanese_laurel: #008000;
$color_royal_blue: #66f;
$color_charlotte: #afeafe;
$color_goldenrod: #fdd763;
$white: #fff;
$tradewind: #55b6ab;
$hollywood_cerise: #f0109b;
$cyan_aqua: #0ff;
$colornobelapprox: #b3b3b3;
$color_citron_approx: #990;
$color_bittersweet_approx: #f66;
$color_ripe_lemon: #fd5010;
$gold_crayola: #E6BE8A;

$limegreen: #7be8bb;
$link: #15c7b0;
$visit: #5715c7;
$hover: #85c715;
$active:#15c757;

//colors
$red: #cd5c5c;
$color_japanese_laurel: green;
$bgc_quarter_spanish_white: #f8edde;
$color_charlotte: #afeafe;
$color_goldenrod: #fdd763;

$color_tradewind_approx: #55b6ab;
$color_hollywood_cerise_approx: #f0109b;
$cyan_aqua: aqua;
$color_nobel_approx: #b3b3b3;
$color_citron_approx: #999900;
$color_bittersweet_approx: #ff6666;
$color_ripe_lemon_approx: #f0d510;

//fonts
$font_0: sans-serif;
